<section id="agenda">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 mb-0 title">Agenda</h1>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        {% for day in website.agenda %}
        <div class="row">
          <div class="schedule col-md-12">
            <div class="schedule-inner">
              <header class="day">
                <h4 class="title mt-0 mb-0 text-uppercase">{{ day.name }}</h4>
              </header>
              <ul class="schedule-list list-unstyled mb-0">
                {% for slot in day.slots %}
                <li class="lesson">
                  <div class="row">
                    <div class="col-lg-2 col-md-3">
                      <h5 class="time  mb-3 mb-sm-2 text-uppercase">
                        <span class="start">{{ slot.start }}</span> -
                        <span class="end">{{ slot.end }}</span>
                        <br>
                        <span class="minutes">{{ slot.length }}</span>
                      </h5>
                    </div>
                    <div class="col-lg-10 col-md-9">
                      <header class="d-flex">
                        <div class="header-content mr-3">
                          <h5 class="title mt-0 mb-2 text-uppercase">{{ slot.title }}</h5>
                          {% if slot.name %}
                          <p class="name lead mt-0 mb-0 d-block">with <strong>{{ slot.name }}</strong></p>
                          {% endif %}
                        </div>
                        <div class="header-thumbnail ml-auto">
                          <img
                            src="images/speakers/{{ (slot.name or 'placeholder') | lower | replace(' ', '_') | replace('\'', '')}}.jpg"
                            alt="">
                        </div>
                      </header>
                      <div class="collapse-content w-100 d-block mt-3 hidden">
                        <p class="description mb-3">{{ slot.abstract }}</p>
                        <ul class="tags list-unstyled p-0 m-0 list-inline">
                          {% for topic in slot.topics %}
                          <li>{{ topic }}</li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>