<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Sponsors
            </h1>
            <p class="lead mb-0">
              It is thanks to the help of our sponsors and supporters
              that the conference is made possible each year.
              Have a look on who they are and what they do.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="mb-4 text-uppercase">Platinum sponsor</h4>
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <a href="https://platform.sh/" target="_blank"><img src="images/sponsors/platformsh.png" class="main-logo img-fluid" /></a>
          </div>
          <div class="col-md-6">
            <p><a href="https://platform.sh/">Platform.sh</a> is a <strong>continuous deployment cloud hosting solution</strong> for web applications. It delivers not only screaming fast performance and robust high-availability, but also eliminates testing bottlenecks and provides fail-proof deployments thanks to its unique feature: the full production cluster, containing all its data, can be cloned under a minute into a staging environment for every new feature developed.</p>
          </div>
        </div>
        <h4 class="mb-4 mt-4 text-uppercase">Gold sponsor</h4>
        <div class="row d-flex align-items-center">
          <div class="col-md-6 text-center">
            <a href="https://nukomeet.com/" target="_blank"><img src="images/sponsors/nukomeet.svg" class="img-fluid" /></a>
          </div>
          <div class="col-md-6 text-center">
            <a href="http://vente-privee.com" target="_blank"><img src="images/sponsors/vente-privee.png" class="img-fluid" /></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <h4 class="mb-4 mt-5 text-uppercase">Silver sponsors</h4>
        <div class="row d-flex align-items-center">
          <div class="col text-center">
            <a href="https://www.trainline.eu/" target="_blank"><img src="images/sponsors/trainline_logo.png" class="img-fluid"></a>
          </div>
        </div>
        <h4 class="mb-4 mt-5 text-uppercase">Bronze sponsors</h4>
        <div class="row d-flex align-items-center">
          <div class="col-md-3 text-center">
            <a href="https://mozilla.org" target="_blank"><img src="images/sponsors/mozilla.svg" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://rebased.pl" target="_blank"><img src="images/sponsors/rebased.png" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://improbable.io/" target="_blank"><img src="images/sponsors/improbable.png" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://www.liefery.com/" target="_blank"><img src="images/sponsors/liefery.jpg" class="img-fluid"></a>
          </div>
        </div>
        <div class="clearfix"></div>
        <h4 class="mb-4 mt-5 text-uppercase">Partners</h4>
        <div class="row logos-row d-flex align-items-center">
          <div class="col-md-3 text-center">
            <a href="http://berlinjs.org/" target="_blank"><img src="images/partners/berlinjs.svg" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="http://www.clojure.paris/" target="_blank"><img src="images/partners/paris-clojure.svg" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://developher.org/" target="_blank"><img src="images/partners/developher.png" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://wildcodeschool.fr/" target="_blank"><img src="images/partners/wild_code_school.png" class="img-fluid"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="https://therepl.net/" target="_blank"><img src="images/partners/therepl.jpg" alt="A weekly newsletter about Clojure and ClojureScript." class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
