<!DOCTYPE html>
<html>
<head>
  {% include "partials/meta.html" %}
  <title>{% block title %}{{ data.title }}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot" rel="font">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
  {% for stylesheet in stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet }}"/>
  {% endfor %}
  <link href="/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>
<body>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% include "partials/footer.html" %}

  {% for javascript in javascripts %}
  <script type="text/javascript" src="{{ javascript }}"></script>
  {% endfor %}
  <script type="text/javascript" src="/bundle.js"></script>

  <script>
  function initMap() {
    var myLatLng = { lat: 48.864716, lng: 2.349014 };
    var map = new google.maps.Map(document.getElementById('map'), {
      center: myLatLng,
      zoom: 12,
      styles: [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzkp2mor9Fmj45S94wZ0VrwwWBYC44xu0&callback=initMap" async defer></script>
</body>
</html>
