#about {
  position: relative;
  padding: 100px 0 0 0;

  @media (max-width: 991px) {
    padding-top: 80px;
  }

  @media (max-width: 575px) {

    .pr-m-0 {
      padding-right: 2rem !important;
    }
  }

  @media (max-width: 460px) {
    .pr-m-0 {
      padding-right: 1.5rem !important;

      &:last-child {
        padding-right: 0!important;
      }
    }
  }

  #countdown {
    margin-top: 10px;
    margin-bottom: 3rem;
    display: inline-block;

    h5 {
      font-size: 2.5rem;

      @media (max-width: 1199px) {
        font-size: 2rem;
      }

      &.days {
        color: $blue;
      }
    }
  }
}

