#agenda {
  position: relative;
  padding: 100px 0 40px 0;
  background: #f8f8f8;

  .schedule {

    .schedule-inner {
      position: relative;
      margin-bottom: 60px;

      &:first-child {

        .day {
          border-bottom-color: $blue;

          .title {
            color: $blue;
          }
        }

        &:hover {

          .schedule-list {

            .lesson.hover {

              .title {
                color: $blue;
              }
            }
          }
        }
      }

      &:nth-child(2) {

        .day {
          border-bottom-color: $green;

          .title {
            color: $green;
          }
        }

        &:hover {

          .schedule-list {

            .lesson.hover {

              .title {
                color: $green;
              }
            }
          }
        }
      }

      &:nth-child(3) {

        .day {
          border-bottom-color: #E76B61;

          .title {
            color: #E76B61
          }
        }

        &:hover {

          .schedule-list {

            .lesson.hover {

              .title {
                color: #E76B61;
              }
            }
          }
        }
      }

      .day {
        padding-bottom: 24px;
        border-bottom: 2px solid #333;
      }

      .schedule-list {

        .lesson {
          padding: 28px 0 24px 0;
          border-bottom: 1px solid #e0e0e0;
          cursor: pointer;

          .time {
            color: $green;

            .start {
              font-weight: 400;
            }

            .end {
              font-weight: 300;
            }

            .minutes {
              color: #888;
              font-weight: 300;
            }
          }

          header {

            .header-content {

              .name {
                font-size: 1.05rem;
              }

              .title {
                font-weight: 400;
                transition: .2s ease-in;
              }
            }

            .header-thumbnail {

              img {
                max-height: 50px;
                border-radius: 50%;
              }
            }
          }

          .collapse-content {
            transition: .2s ease-in;
            overflow-y: hidden;

            .description {
              padding-top: 15px;
              padding-right: 130px;
            }

            .tags {
              position: relative;

              li {
                padding: 4px 8px;
                margin-bottom: 3px;
                margin-right: 4px;
                display: inline-block;
                background: $white;
                color: $blueBg;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
                box-shadow: 0 2px 6px rgba(0,0,0,0.15);

                &:first-child {
                  border-left: 4px solid $green;
                }

                &:nth-child(2) {
                  border-left: 4px solid $blue;
                }

                &:nth-child(3) {
                  border-left: 4px solid #E76B61;
                }

                &:nth-child(4) {
                  border-left: 4px solid #FFA22C;
                }

                .counter {

                  &:before {
                    margin-left: 2px;
                    margin-right: 6px;
                    content: "•";
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}