#speakers {
  position: relative;
  padding: 130px 0 100px 0;
  background: $blueBg;

  .speaker {
    position: relative;
    margin-bottom: 30px;

    .thumbnail {
      position: relative;

      .tags {
        position: absolute;
        left: 14px;
        bottom: -5px;

        li {
          margin-right: 4px;
          display: inline-block;

          span {
            padding: 4px 8px;
            background: $green;
            color: $white;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            box-shadow: 0px 2px 6px rgba(0,0,0,0.15);
          }
        }
      }
    }

    .bio {
      padding: 20px 20px;
      background: $white;

      p {
        font-size: 14px;
      }
    }
  }
}
