#terms {
  position: relative;
  padding: 100px 0;
  background: white;

  @media (max-width: 991px) {
    padding: 80px 0;
  }

  @media (max-width: 575px) {

    .mb-xs-5 {
      margin-bottom: 3rem !important;
    }
  }

  .code-of-conduct {
    padding: 35px 25px;
    border: 2px solid $blue;

    p {
      font-size: 14px;
    }
  }
}