#tickets {
  padding: 100px 0 80px 0;
  background: #fff;

  @media (max-width: 991px) {
    padding-bottom: 75px;
  }

  .ticket {

    .ticket-inner {
      position: relative;
      padding: 3rem .5rem;
      background: transparent;
      border-radius: 2px;
      border: 0;
      vertical-align: middle;

      &.ticket-active {
        box-shadow: inset 0 0 0 2px $blue;
        
        a {

          &.btn {
            cursor: pointer;
          }
        }
      }

      &::before,
      &::after {
        box-sizing: border-box;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
      }

      &.draw {
        transition: color 0.25s;

        &::before,
        &::after {
          border: 2px solid transparent;
          width: 0;
          height: 0;
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          bottom: 0;
          right: 0;
        }

        &:hover::before,
        &:hover::after {
          width: 100%;
          height: 100%;
        }

        &:hover::before {
          border-top-color: $blue;
          border-right-color: $blue;
          transition:
                  width 0.25s ease-out,
                  height 0.25s ease-out 0.25s;
        }

        &:hover::after {
          border-bottom-color: $blue;
          border-left-color: $blue;
          transition:
                  border-color 0s ease-out 0.5s,
                  width 0.25s ease-out 0.5s,
                  height 0.25s ease-out 0.75s;
        }
      }

      &.meet {

        &:hover {
          color: $blue;
        }

        &::after {
          top: 0;
          left: 0;
        }

        &:hover::before {
          border-top-color: $blue;
          border-right-color: $blue;
        }

        &:hover::after {
          border-bottom-color: $blue;
          border-left-color: $blue;
          transition:
                  height 0.25s ease-out,
                  width 0.25s ease-out 0.25s;
        }
      }

      figure {
        margin: 0 3rem 1.25rem 3rem;
        padding: 0 0 1.5rem 0;
        border-bottom: 1px solid lighten(#e0e0e0, 5%);

        figcaption {

          .title {
            font-size: 1.35rem;
            text-transform: uppercase;
          }

          span {
            color: #888;
            font-style: italic;
            font-size: 12px;
            line-height: 18px;
          }
        }
      }

      header {

        .price {
          position: relative;
          margin: 1rem 0 1.5rem 0;
          font-size: 3.5rem;
          color: $blue;
          font-weight: 300;
          letter-spacing: .01em;

          .currency {
            margin-right: 5px;
            margin-top: 10px;
            display: inline-block;
            font-size: 1rem;
            vertical-align: top;
          }
        }
      }

      .date {
        margin: 1.5rem 3rem 0 3rem;
        padding: 1.5rem 0;
        border-top: 1px solid lighten(#e0e0e0, 5%);
      }

      a {
        position: relative;
        z-index: 99;

        &.btn {
          padding: 12px 20px;
          text-transform: uppercase;
          font-size: 13px;
          font-weight: 600;
          border: 2px solid $blue;
          text-decoration: none;
          transition: .2s ease-in;
          color: $blue;
          border-radius: 0;
          cursor: not-allowed;

          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }
    }
  }

  .list-features {

    li {
      position: relative;
      margin-bottom: 15px;

      .checked {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        display: inline-block;
        max-height: 20px;
      }

      span {
        margin-top: -2px;
        margin-left: 30px;
        display: inline-block;
        vertical-align: top;
        color: #666;
      }
    }
  }
}

