{% extends "layouts/base.html" %}
{% block content %}
<main id="main">

  <div id="particles-js"></div>

  <nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="" class="img-fluid">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#speakers">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sponsors">Sponsors</a>
        </li>
      </ul>
      <div class="cta ml-auto">
        <a href="#">Submit Your Talk</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-text d-flex">
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <h3 class="mt-0 animate text-uppercase">JUL 1 - JUL 2, 2017 · POLAND</h3>
              <h1 class="mt-0 animate text-uppercase">The <span class="color">Universe</span> of Virtual Machines</h1>
              <p class="mt-0 animate lead">Let's take a journey to explore the waste universe of virtual machines: <br/>
                to seek out new programming languages and to boldly go deep inside the bytecode</p>
              <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate animate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email" id="mce-EMAIL">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<ul class="social list-unstyled">-->
    <!--<li>-->
      <!--<a href="https://www.facebook.com/polyconf">-->
        <!--<i class="ion-social-facebook"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://twitter.com/polyconfhq">-->
        <!--<i class="ion-social-twitter"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://www.youtube.com/user/polyconf">-->
        <!--<i class="ion-social-youtube"></i>-->
      <!--</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a href="https://github.com/polyconf">-->
        <!--<i class="ion-social-github"></i>-->
      <!--</a>-->
    <!--</li>-->
  <!--</ul>-->
</main>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Welcome to PolyConf
            </h1>
            <p class="lead mb-0">
              PolyConf is a two-day, single track, multi-disciplinary conference on advanced technologies
              for programmers interested in polyglot approach to software development.
              Our goal is to foster exchange between programming languages.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">history</h4>
        <p class="mb-0">PolyConf succeeds RuPy, a Ruby and Python conference founded in 2006. Over 10 years the conference has grown and disseminated to several countries (Poland, Czech Republic, Hungary, Brazil) as well as to other programming languages.</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">mission</h4>
        <p class="mb-0">PolyConf mission is to promote polyglot approach to software development and foster cross-pollination between various technologies and their communities.</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-12 ticket-order">
        <p class="lead mb-3 float-left">Sounds perfect? Grab your ticket now!</p>
        <a href="#" class="btn text-uppercase">Buy a ticket</a>
      </div>
    </div>
  </div>
</section>


<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble light">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Speakers
            </h1>
            <p class="lead mb-0">
              PolyConf is not focused on any particular language or area of technology.
              We encourage diverse topics oriented towards the future of Computer Science.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <div class="overlay">
            <img src="images/avatar-team-1.jpg" alt="" class="img-fluid">
            <ul class="tags list-unstyled">
              <li><span>Javascript</span></li>
              <li><span>Ruby</span></li>
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <ul class="overlay-social">
                    <li>
                      <a href="https://www.facebook.com/polyconf">
                        <i class="ion-social-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/polyconfhq">
                        <i class="ion-social-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </ul>
          </div>
        </div>
        <div class="bio">
          <h6 class="name">John Doe</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-2.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Python</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">John Hightower</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-3.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>PHP</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Michael Lentini</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-4.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Perl</span></li>
            <li><span>Assembly</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Jan Kowalski</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-5.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Ruby</span></li>
            <li><span>Elixir</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Piotr Carranza</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-6.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Java</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Todd Motto</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-1.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Typescript</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Imię Nazwisko</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-2.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Perl</span></li>
            <li><span>Assembly</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Jan Kowalski</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Sponsors
            </h1>
            <p class="lead mb-0">
              It is thanks to the help of our sponsors and supporters
              that the conference is made possible each year.
              Have a look on who they are and what they do.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="mb-4 text-uppercase">Gold sponsors</h4>
        <div class="row">
          <div class="col-md-3">
            <img src="http://www.criteo.com/media/1796/criteo-logo.png" alt="" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="http://14.polyconf.com/assets/partners/allegro.jpg" alt="" class="img-fluid">
          </div>
        </div>
        <div class="clearfix"></div>
        <h4 class="mb-4 mt-5 text-uppercase">Silver sponsors</h4>
        <div class="row logos-row">
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/selleo.png" alt="" class="img-fluid align-middle">
          </div>
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/jetbrains.png" alt="" class="img-fluid align-middle">
          </div>
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/infoq.png" alt="" class="img-fluid align-middle">
          </div>
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/jetbrains.png" alt="" class="img-fluid align-middle">
          </div>
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/selleo.png" alt="" class="img-fluid align-middle">
          </div>
          <div class="col-md-2">
            <img src="http://14.polyconf.com/assets/partners/jetbrains.png" alt="" class="img-fluid align-middle">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3">
              <img src="images/logo.svg" alt="">
              <p class="mt-2 mb-4 lead">Come to Poznan, Poland in October 2014 to meet programmers</p>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="title mt-2 mb-4 text-uppercase">Navigation</h6>
                </div>
                <div class="col-md-6">
                  <ul class="mini-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Spakers</a></li>
                  <li><a href="#">Sponsors</a></li>
                  <li><a href="#">Agenda</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="mini-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Spakers</a></li>
                    <li><a href="#">Sponsors</a></li>
                    <li><a href="#">Agenda</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h6 class="title mt-2 mb-4 text-uppercase">Sign up to newsletter</h6>
              <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate animate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email" id="mce-EMAIL">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-md-6">
              <p class="float-left m-0">Copyright © 2017 2017 Polyconf</p>
            </div>
            <div class="col-md-6">
              <ul class="social-bottom float-right">
                <li>
                  <a href="https://www.facebook.com/polyconf">
                    <i class="ion-social-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/polyconfhq">
                    <i class="ion-social-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/polyconf">
                    <i class="ion-social-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/polyconf">
                    <i class="ion-social-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
