{% extends "layouts/base.html" %}
{% block content %}
<main>
  <div class="logo">
    <a href="#">
      <img src="/images/logo.svg" alt="" class="img-fluid">
    </a>
  </div>
  <nav class="fixed-top navbar">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Agenda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Venue</a>
      </li>
    </ul>
  </nav>
  <div class="cta">
    <a href="#">Sign Up Now</a>
  </div>

  <div id="particles-js"></div>
  <div class="text">
    <h3 class="mt-0">JUL 1 - JUL 2, 2017 · POLAND</h3>
    <h1 class="mt-0">The <span class="color">Universe</span> of Virtual Machines</h1>
    <p class="mt-0">Let's take a journey to explore the waste universe of virtual machines: <br/>
      to seek out new programming languages and to boldly go deep inside the bytecode</p>
    <form action="#">
      <input type="text" value="subscribe newsletter">
      <button>Sign Up</button>
    </form>
  </div>

  <ul class="sliders-nav list-unstyled">
    <li><a href="#" class="active"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
    <li><a href="#"></a></li>
  </ul>

  <ul class="social list-unstyled">
    <li>
      <a href="#">
        <i class="ion-social-facebook"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-youtube"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="ion-social-github"></i>
      </a>
    </li>
  </ul>
</main>
{% endblock %}
