{% extends "layouts/base.html" %}
{% block content %}
<main id="main">

  <div id="particles-js"></div>

  <nav class="navbar navbar-toggleable-md navbar-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
      <img src="images/menu.svg" alt="">
    </button>
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="" class="img-fluid">
      <img src="/images/logo-fixed.svg" alt="" class="img-fluid logo-fixed">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link scroll" href="#main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#speakers">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#venue">Venue</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#terms">Terms</a>
        </li>
      </ul>
      <div class="cta ml-auto">
          <ul>
              <li>
                  <a href="#" class="buy-ticket">Buy ticket</a>
                  <a href="#" class="submit-talk">Submit Your Talk</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>

  <div class="overlay">
    <img class="close-menu img-fluid" src="images/close.svg" alt=""/>
    <nav class="overlay-menu">
      <ul>
        <li class="nav-item active">
          <a class="nav-link scroll" href="#main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#speakers">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link scroll" href="#sponsors">Sponsors</a>
        </li>
      </ul>
      <ul class="social list-unstyled">
        <li>
          <a href="https://www.facebook.com/polyconf">
            <i class="ion-social-facebook"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/polyconfhq">
            <i class="ion-social-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/polyconf">
            <i class="ion-social-youtube"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/polyconf">
            <i class="ion-social-github"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-text d-flex">
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column">
              <h3 class="mt-0 animate text-uppercase">Jul 1 - Jul 2, 2017 · Paris, France</h3>
              <h1 class="mt-0 animate text-uppercase">The <span class="color">Universe</span> of Programming Languages</h1>
              <p class="mt-0 animate lead">
                <strong>Be the one who never sees boundaries, but only horizons.</strong><br/>
              </p>
              <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate animate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email" id="mce-EMAIL">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Welcome to PolyConf
            </h1>
            <p class="lead mb-0">
              PolyConf is a two-day, single track, multi-disciplinary conference on advanced technologies
              for programmers interested in polyglot approach to software development.
              Our goal is to foster exchange between programming languages.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <img src="images/Paris.svg" alt="" class="background">
</section>


<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble light">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Speakers
            </h1>
            <p class="lead mb-0">
              PolyConf is not focused on any particular language or area of technology.
              We encourage diverse topics oriented towards the future of Computer Science.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <div class="overlay">
            <img src="images/avatar-team-1.jpg" alt="" class="img-fluid">
            <ul class="tags list-unstyled">
              <li><span>Javascript</span></li>
              <li><span>Ruby</span></li>
            </ul>
              <div class="overlay-shadow">
                  <div class="overlay-content">
                      <ul class="overlay-social">
                          <li>
                              <a href="https://www.facebook.com/polyconf">
                                  <i class="ion-social-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://twitter.com/polyconfhq">
                                  <i class="ion-social-twitter"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        <div class="bio">
          <h6 class="name">John Doe</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-2.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Python</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">John Hightower</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-3.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>PHP</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Michael Lentini</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-4.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Perl</span></li>
            <li><span>Assembly</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Jan Kowalski</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-5.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Ruby</span></li>
            <li><span>Elixir</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Piotr Carranza</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-6.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Java</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Todd Motto</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-1.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Typescript</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Imię Nazwisko</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <img src="images/avatar-team-2.jpg" alt="" class="img-fluid">
          <ul class="tags list-unstyled">
            <li><span>Perl</span></li>
            <li><span>Assembly</span></li>
          </ul>
        </div>
        <div class="bio">
          <h6 class="name">Jan Kowalski</h6>
          <p class="mb-0">Stack follows the BEM naming convention that focusses on logical code</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Sponsors
            </h1>
            <p class="lead mb-0">
              It is thanks to the help of our sponsors and supporters
              that the conference is made possible each year.
              Have a look on who they are and what they do.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="mb-4 text-uppercase">Gold sponsors</h4>
        <div class="row">
          <div class="col-md-3">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-3">
              <img src="http://placehold.it/350x150">
          </div>
        </div>
        <div class="clearfix"></div>
        <h4 class="mb-4 mt-5 text-uppercase">Silver sponsors</h4>
        <div class="row logos-row">
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
              <img src="http://placehold.it/350x150">
          </div>
        </div>
          <h4 class="mb-4 mt-5 text-uppercase">Bronze sponsors</h4>
          <div class="row logos-row">
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
              <div class="col-md-2">
                  <img src="http://placehold.it/350x150">
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="gallery">
    <div class="text">
        <div class="container">
            <div class="row">
                <div class="col-md-10 preamble light">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="mt-0 title">
                                Memories '14 Polyconf
                            </h1>
                            <p class="lead mb-0">
                                <strong>Follow us on our #instagram</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-1.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-2.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-3.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-4.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-5.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-6.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-7.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-8.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-9.jpg) 50% 0"></div>
                </a>
            </div>
            <div class="gallery-holder float-left">
                <a href="#">
                    <div class="gallery-holder-bg" style="background: url(../images/gallery-10.jpg) 50% 0"></div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="venue">
  <div class="container">
    <div class="row flex-column">
      <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <div class="preamble light">
                    <h1 class="mt-0 title">
                        Venue
                    </h1>
                    <p class="lead mb-0">
                        PolyConf will take place at University of Medical Science Conference Center in Poznan, Poland.
                    </p>
                </div>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            </div>
        </div>
      </div>
    </div>
  </div>
    <div class="image-holder col-md-6 float-right">
        <div class="image-holder-background" style="background: url('images/legeode.jpg') 50% 50%;"></div>
    </div>
</section>

<section id="terms">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Terms and conditions
            </h1>
            <p class="lead mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi deserunt, dolorem eos error est eum expedita facilis ipsam iure laboriosam.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">1. Tickets</h4>
        <p>Cancellations received before September 31 2014 are entitled to a full refund. Cancellations received after September 31, 2014 are non-refundable.<br><br>Early Bird tickets are non-refundable.</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">2. Video and recording</h4>
        <p>All presentations and associated materials are the speakers’ intellectual property. Recording for commercial purposes requires permission from both the organizer and the speaker.<br><br>By attending the conference, attendees have agreed to allow the organizer to use images, audio, and video recorded content on site for educational and promotional purposes.</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">3. Responsibility</h4>
        <p>The participant acknowledges that he/she may not engage in damage claims against the Conference Organizers should the holding of the Conference be hindered or prevented by unexpected political or economic events, natural disaster, the non-appearance of speakers, or other reasons that might necessitate a program change.<br><br>Organizers may cancel the event at any time and tickets will be refunded in full without any additional fees.</p>
      </div>
      <div class="col-md-12">
        <div class="mt-5 code-of-conduct">
          <h4 class="mb-3 text-uppercase">Code of conduct</h4>
          <p class="mb-0">PolyConf is dedicated to providing a harassment-free conference experience for everyone. We invite you to help us make PolyConf a place that is welcoming and respectful to all participants, so everyone can focus on the conference itself, and the great networking and community richness that can happen when we get together in person. We will do whatever we believe is necessary to ensure that PolyConf is a safe and productive environment for everyone.<br><br>Please bring any concerns to the immediate attention of the event staff, or contact our Event Coordinator, Kasia Popek at kasia@polyconf.com. We thank our attendees for their help in keeping the event welcoming, respectful, and friendly to all participants.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3">
              <img src="images/logo.svg" alt="">
              <p class="mt-2 mb-4 lead">Come to Paris, France in July 2017 to meet programmers</p>
            </div>
            <div class="col-md-5">
              <div class="row">
                <div class="col-md-12">
                  <h6 class="title mt-2 mb-4 text-uppercase">Navigation</h6>
                </div>
                <div class="col-md-6">
                  <ul class="mini-nav">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Speakers</a></li>
                  <li><a href="#">Sponsors</a></li>
                  <li><a href="#">Agenda</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="mini-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Speakers</a></li>
                    <li><a href="#">Sponsors</a></li>
                    <li><a href="#">Agenda</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h6 class="title mt-2 mb-4 text-uppercase">Sign up to newsletter</h6>
              <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate animate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email" id="mce-EMAIL">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-md-6">
              <p class="float-left m-0">Copyright © 2017 Polyconf</p>
            </div>
            <div class="col-md-6">
              <ul class="social-bottom float-right">
                <li>
                  <a href="https://www.facebook.com/polyconf">
                    <i class="ion-social-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/polyconfhq">
                    <i class="ion-social-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/polyconf">
                    <i class="ion-social-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/polyconf">
                    <i class="ion-social-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
