<section id="cta-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="lead m-0">Have questions? Drop us an email at <a href="mailto: hello@polyconf.com"><strong>hello@polyconf.com</strong></a> or call us at <strong>+33 7 68 41 06 91</strong></p>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-lg-10 col-md-12 col-sm-12 preamble mb-4 dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Welcome to PolyConf
            </h1>
            <p class="lead mb-0">
              PolyConf is a three-day, single track, multi-disciplinary, non-profit conference on advanced technologies
              for programmers interested in polyglot approach to software development.
              Our goal is to foster exchange between programming languages and their communities.<br><br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      </div>
    </div>
  </div>
  <img src="images/Paris.svg" alt="" class="background">
</section>
