<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Welcome to PolyConf
            </h1>
            <p class="lead mb-0">
              PolyConf is a three-day, single track, multi-disciplinary conference on advanced technologies
              for programmers interested in polyglot approach to software development.
              Our goal is to foster exchange between programming languages and their communities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="images/Paris.svg" alt="" class="background">
</section>
