<section id="cta-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="lead m-0 float-left">Have any questions? Drop an email on <a href="mailto: contact@polyconf.com"><strong>help@polyconf.com</strong></a> or cor use <strong>contact form</strong></p>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-cta float-right">Contact us</a>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-lg-10 col-md-12 col-sm-12 preamble mb-4 dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Welcome to PolyConf
            </h1>
            <p class="lead mb-0">
              PolyConf is a three-day, single track, multi-disciplinary, non-profit conference on advanced technologies
              for programmers interested in polyglot approach to software development.
              Our goal is to foster exchange between programming languages and their communities.<br><br>How much times left to Polyconf 2017?
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div id="countdown">
          <div class="float-left pr-5 pr-m-0 text-center">
            <h5 class="days"></h5>
            <p class="lead">Days</p>
          </div>
          <div class="float-left pr-5 pr-m-0 text-center">
            <h5 class="hours"></h5>
            <p class="lead">Hours</p>
          </div>
          <div class="float-left pr-5 pr-m-0 text-center">
            <h5 class="minutes"></h5>
            <p class="lead">Minutes</p>
          </div>
          <div class="float-left pr-5 pr-m-0 text-center">
            <h5 class="seconds"></h5>
            <p class="lead">Seconds</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="images/Paris.svg" alt="" class="background">
</section>
