<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-md-10 preamble dark">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mt-0 mb-0 title">
                            Agenda
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="schedule col-md-12">
                        <div class="schedule-inner">
                            <header>
                                <h4 class="title mt-0 mb-0 text-uppercase">Friday, July 7</h4>
                            </header>
                            <ul class="schedule-list list-unstyled mb-0">
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Get Creative with Facebook Camera Effects Platform</h5>
                                            <p class="name lead mt-0 mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Looks aren't everything. Believe me, I'm a model.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">The happy secret to better work.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="schedule-inner">
                            <header>
                                <h4 class="title mt-0 mb-0 text-uppercase">Saturday, July 8</h4>
                            </header>
                            <ul class="schedule-list list-unstyled mb-0">
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Get Creative with Facebook Camera Effects Platform</h5>
                                            <p class="name lead mt-0 mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Looks aren't everything. Believe me, I'm a model.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">The happy secret to better work.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="schedule-inner">
                            <header>
                                <h4 class="title mt-0 mb-0 text-uppercase">Sunday, July 9</h4>
                            </header>
                            <ul class="schedule-list list-unstyled mb-0">
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Get Creative with Facebook Camera Effects Platform</h5>
                                            <p class="name lead mt-0 mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">Looks aren't everything. Believe me, I'm a model.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="lesson">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h5 class="time text-uppercase">9.00 AM - 11.00 AM</h5>
                                        </div>
                                        <div class="col-md-10">
                                            <h5 class="title mt-0 mb-2 text-uppercase">The happy secret to better work.</h5>
                                            <p class="name lead mb-0 d-block">with John Doe, Company</p>
                                            <p class="description mb-0 mt-3">Get Creative With Camera Effects Platform: Camera-first experiences are a great way to keep people engaged. Come learn more about our Camera Effects Platform, a tool you can use to develop and submit frames that can be used by other people with photos and videos they capture and share on Facebook.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>