<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-xl-3 col-lg-3 mb-xs-0 mb-md-5 mb-sm-5 mb-xs-5">
              <img src="images/logo.svg" alt="">
              <p class="mt-2 mb-0 lead">Come to Paris, France in July 2017 to meet programmers interested in polyglot approach to software development.</p>
            </div>
            <div class="col-xl-5 offset-xl-0 col-lg-4 offset-lg-0 mb-xs-0 mb-md-5 mb-sm-5 mb-xs-5">
              <div class="row">
                <div class="col-md-6">
                  <h6 class="title mt-2 mb-4 text-uppercase">Navigation</h6>
                  <ul class="mini-nav mb-xs-0 mb-md-0 mb-sm-5 mb-xs-5">
                    <li><a href="#about" class="scroll">About</a></li>
                    <li><a href="#memories" class="scroll">Memories</a></li>
                    <li><a href="#terms" class="scroll">Terms</a></li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h6 class="title mt-2 mb-4 text-uppercase">In the past</h6>
                  <ul class="mini-nav">
                    <li><a href="https://16.polyconf.com">PolyConf 16</a></li>
                    <li><a href="https://15.polyconf.com">PolyConf 15</a></li>
                    <li><a href="https://14.polyconf.com">PolyConf 14</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 mb-xs-0 mb-md-5 mb-sm-5 mb-xs-5">
              <h6 class="title mt-2 mb-4 text-uppercase">Sign up to newsletter</h6>
              <form action="//polyconf.us2.list-manage.com/subscribe/post?u=294dfa55a7b056bcc82ffae2d&amp;id=409201e872" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate animate" target="_blank" novalidate="">
                <input type="email" value="" name="EMAIL" placeholder="Your e-mail address" class="required email" id="mce-EMAIL">
                <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="row">
            <div class="col-sm-6">
              <p class="m-0">Copyright © 2017 Polyconf</p>
            </div>
            <div class="col-sm-6">
              <ul class="social-bottom float-right">
                <li>
                  <a href="https://www.facebook.com/polyconf">
                    <i class="ion-social-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/polyconfhq">
                    <i class="ion-social-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.youtube.com/user/polyconf">
                    <i class="ion-social-youtube"></i>
                  </a>
                </li>
                <li>
                  <a href="https://github.com/polyconf">
                    <i class="ion-social-github"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
