<section id="memories">
  <div class="text">
    <div class="container">
      <div class="row">
        <div class="preamble light">
          <h1 class="mt-0 title">
            Memories
          </h1>
          <p class="lead mb-0">
            <strong>Follow us on Twitter at <a href="https://twitter.com/polyconfhq" target="_blank">@polyconfhq</a></strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row gallery-row">
      <div class="gallery-holder float-left">
        <a href="images/gallery-1.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-1.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-2.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-2.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-3.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-3.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-4.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-4.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-5.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-5.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-6.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-6.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-7.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-7.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-8.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-8.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-9.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-9.jpg) 50% 0"></div>
        </a>
      </div>
      <div class="gallery-holder float-left">
        <a href="images/gallery-10.jpg">
          <div class="gallery-holder-bg" style="background: url(../images/gallery-10.jpg) 50% 0"></div>
        </a>
      </div>
    </div>
  </div>
</section>
