<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble light">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Speakers
            </h1>
            <p class="lead mb-0">
              PolyConf is not focused on any particular language or area of technology.
              We encourage diverse topics oriented towards the future of Computer Science.
            </p>
          </div>
        </div>
      </div>

      {% for speaker in data.speakers %}
      <div class="col-md-3 speaker">
        <div class="thumbnail">
          <div class="overlay">
            <img src="{{ speaker.image }}" alt="" class="img-fluid">
            <ul class="tags list-unstyled">
              {% for topic in speaker.topics %}
              <li>{{ topic }}</li>
              {% endfor %}
            </ul>
            <div class="overlay-shadow">
              <div class="overlay-content">
                <ul class="overlay-social">
                  <li><a href="https://github.com/{{ speaker.github }}"><i class="ion-social-github"></i></a></li>
                  <li><a href="https://twitter.com/{{ speaker.twitter }}"><i class="ion-social-twitter"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bio">
          <h6 class="name">{{ speaker.name }}</h6>
          <p class="mb-0">{{ speaker.tagline }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
