<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble light">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Speakers
            </h1>
            <p class="lead mb-0">
              PolyConf is not focused on any particular language or area of technology.
              We encourage diverse topics oriented towards the future of Computer Science.
            </p>
          </div>
        </div>
      </div>

      {% for speaker in data.speakers %}
      <div class="col-md-3 speaker">
        <div class="speaker-inner">
          <div class="thumbnail">
            <div class="overlay">
              <img src="{{ speaker.image }}" alt="" class="img-fluid">
              <ul class="tags list-unstyled">
                {% for topic in speaker.topics %}
                <li>{{ topic }}</li>
                {% endfor %}
              </ul>
              <div class="overlay-shadow">
                <div class="overlay-content">
                  <ul class="overlay-social">
                    <li><a href="https://github.com/{{ speaker.github }}" target="_blank"><i class="ion-social-github"></i></a></li>
                    <li><a href="https://twitter.com/{{ speaker.twitter }}" target="_blank"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://eventil.com/users/{{ speaker.eventil }}"><img src="/images/logo-eventil.svg" alt="" class="img-fluid eventil"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="bio">
            <h6 class="name">{{ speaker.name }}</h6>
            <p class="mb-0">{{ speaker.tagline }}</p>
            <p class="m-0">{{ speaker.company}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
