<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Sponsors
            </h1>
            <p class="lead mb-0">
              It is thanks to the help of our sponsors and supporters
              that the conference is made possible each year.
              Have a look on who they are and what they do.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <h4 class="mb-4 text-uppercase">Gold sponsors</h4>
        <div class="row">
          <div class="col-md-3">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-3">
            <img src="http://placehold.it/350x150">
          </div>
        </div>
        <div class="clearfix"></div>
        <h4 class="mb-4 mt-5 text-uppercase">Silver sponsors</h4>
        <div class="row logos-row">
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
        </div>
        <h4 class="mb-4 mt-5 text-uppercase">Bronze sponsors</h4>
        <div class="row logos-row">
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
          <div class="col-md-2">
            <img src="http://placehold.it/350x150">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
