<section id="terms">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 title">
              Terms and conditions
            </h1>
            <p class="lead mb-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi deserunt, dolorem eos error est eum expedita facilis ipsam iure laboriosam.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">1. Tickets</h4>
        <p>Cancellations received before April 31 2017 are entitled to a full refund. Cancellations received after April 31, 2014 are non-refundable.<br><br>Early Bird tickets are non-refundable.</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">2. Video and recording</h4>
        <p>All presentations and associated materials are the speakers’ intellectual property. Recording for commercial purposes requires permission from both the organizer and the speaker.<br><br>By attending the conference, attendees have agreed to allow the organizer to use images, audio, and video recorded content on site for educational and promotional purposes.</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3 text-uppercase">3. Responsibility</h4>
        <p>The participant acknowledges that he/she may not engage in damage claims against the Conference Organizers should the holding of the Conference be hindered or prevented by unexpected political or economic events, natural disaster, the non-appearance of speakers, or other reasons that might necessitate a program change.<br><br>Organizers may cancel the event at any time and tickets will be refunded in full without any additional fees.</p>
      </div>
      <div class="col-md-12">
        <div class="mt-5 code-of-conduct">
          <h4 class="mb-3 text-uppercase">Code of conduct</h4>
          <p class="mb-0">PolyConf is dedicated to providing a harassment-free conference experience for everyone. We invite you to help us make PolyConf a place that is welcoming and respectful to all participants, so everyone can focus on the conference itself, and the great networking and community richness that can happen when we get together in person. We will do whatever we believe is necessary to ensure that PolyConf is a safe and productive environment for everyone.<br><br>Please bring any concerns to the immediate attention of the event staff, or contact our Event Coordinator, Diana at diana@polyconf.com. We thank our attendees for their help in keeping the event welcoming, respectful, and friendly to all participants.</p>
        </div>
      </div>
    </div>
  </div>
</section>
