<section id="venue">
  <div class="container">
    <div class="row flex-column">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <div class="preamble light">
              <h1 class="mt-0 title">
                Venue
              </h1>
              <p class="lead mb-0">
                PolyConf will take place at University of Medical Science Conference Center in Poznan, Poland.
              </p>
            </div>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-holder col-md-6 float-right">
    <div class="image-holder-background" style="background: url('images/legeode.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-2.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-3.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-4.jpg') 50% 50%;"></div>


  </div>
</section>
