<section id="venue">
  <div class="container">
    <div class="row flex-column">
      <div class="col-lg-5 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="preamble light">
              <h1 class="mt-0 title">
                Venue
              </h1>
              <p class="lead mb-0">
                PolyConf 17 will take place at <strong><a href="https://www.lageode.fr/">La Géode</a></strong> in Parc de la Villette at the Cité des Sciences et de l'Industrie in 19th arrondissement of Paris, France.
              </p>
            </div>
            <p class="description">La Géode is a mirror-finished geodesic dome that holds an Omnimax theatre in Parc de la Villette at the City of Science and Industry. </p> 
            <p class="description">It was designed by architect Adrien Fainsilber and engineer Gérard Chamayou.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="image-holder col-md-6 d-none d-lg-block float-right">
    <div class="image-holder-background" style="background: url('images/legeode.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-2.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-3.jpg') 50% 50%;"></div>
    <div class="image-holder-background" style="background: url('images/legeode-4.jpg') 50% 50%;"></div>


  </div>
</section>
