<section id="workshops">
    <div class="container">
        <div class="row">
            <div class="col-md-10 preamble dark">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="mt-0 mb-0 title">
                            Workshops
                        </h1>
                    </div>
                </div>
            </div>
            <ul class="col-md-12 workshops-list list-unstyled mb-0">
                <li class="row mb-5">
                    <div class="col-lg-3 text-center">
                        <img src="images/speakers/jack_moffitt.jpg" alt="" class="img-fluid m-auto avatar">
                        <a href="#" class="btn-cta btn-disabled d-block w-100 text-center mt-2 mb-4">Register (soon)</a>
                    </div>
                    <div class="col-lg-6">
                        <header>
                            <h3 class="title mt-0 mb-2 text-uppercase">Get Creative with Facebook Camera Effects</h3>
                            <p class="name lead mt-0 mb-4 d-block">with <a href="#">Jack Moffitt, Mozilla</a></p>
                        </header>
                        <div class="description mt-3">
                            <h5 class="title mb-2 text-uppercase">Workshop description:</h5>
                            <p>Reactive and Asynchronous applications are growing in popularity, but what is the best way to build them? This course teaches you how to apply the latest concurrency techniques to develop state of the art Java applications. With the rise of Microservices and Service Oriented Architectures, asynchronous concurrency is now critical to day-to-day Java development.</p>

                            <p>We start off by reviewing the differences between asynchronous and synchronous programming. You then build upon this theory by refactoring a project using asynchronous servlets and Java 8’s CompletableFuture. You’ll learn the good, the bad and th.e ugly between these approaches in terms of compositionality, testability and simplicity.</p>
                            <p>This course is face-paced and includes many practical exercises so you apply the new concepts immediately.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <ul class="details list-unstyled p-0 m-0">
                            <li class="mb-3">
                                <h6 class="title text-uppercase mb-1">Date</h6>
                                <p class="lead ml-auto">Date: the 17th of May 2017, from 13:45 to 17:15</p>
                            </li>
                            <li class="mb-3">
                                <h6 class="title text-uppercase mb-1">Price</h6>
                                <p class="lead ml-auto">400 PLN + VAT</p>
                            </li>
                            <li class="mb-3">
                                <h6 class="title text-uppercase mb-1">Language</h6>
                                <p class="lead ml-auto">English</p>
                            </li>
                            <li class="mb-3">
                                <h6 class="title text-uppercase mb-1">Duration</h6>
                                <p class="lead ml-auto">1:30h</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>