<section id="workshops">
  <div class="container">
    <div class="row">
      <div class="col-md-10 preamble dark">
        <div class="row">
          <div class="col-md-12">
            <h1 class="mt-0 mb-0 title">Workshops</h1>
          </div>
        </div>
      </div>
      <ul class="col-md-12 workshops-list list-unstyled mb-0">
        {% for workshop in data.workshops %}
        <li class="row mb-5">
          <div class="author col-lg-3 text-center">
            <img src="images/speakers/{{ workshop.name | lower | replace(' ', '_')}}.jpg" alt="" class="img-fluid m-auto avatar">
            <a href="https://eventil.com/events/polyconf-17/register" class="btn-cta d-block w-100 text-center mt-2 mb-4">Register</a>
          </div>
          <div class="content col-lg-6">
            <header>
              <h3 class="title mt-0 mb-2 text-uppercase">{{ workshop.title }}</h3>
              <p class="name lead mt-0 d-block">with <a href="{{ workshop.link }}">{{ workshop.name }}</a></p>
            </header>
            <div class="description mt-3">
              {% markdown %}
              {{ workshop.description }}
              {% endmarkdown %}
            </div>
          </div>
          <div class="sidebar col-lg-3">
            <!--<h3 class="title mt-0 mb-2 text-uppercase">General informations</h3>-->
            <ul class="details list-unstyled p-0 m-0">
              <li class="mb-1 d-flex">
                <img src="images/checked.svg" alt="" class="img-fluid mr-2">
                <p class="mb-1">Workshops Ticket Price: <strong>€ {{ workshop.price }}</strong> (incl. VAT)</p>
              </li>
              <li class="mb-1 d-flex">
                <img src="images/checked.svg" alt="" class="img-fluid mr-2">
                <p class="mb-1">Schedule: <strong>10:00 - 18:00</strong></p>
              </li>
              {% for requirement in workshop.requirments %}
              <li class="mb-1 d-flex">
                <img src="images/checked.svg" alt="" class="img-fluid mr-2">
                <p class="mb-1">
                  {% markdown %}
                  {{ requirement }}
                  {% endmarkdown %}
                  </p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>